
@{
    ViewBag.Title = "AddAward";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ödül Eklme Sayfası</h2>
<form method="post">
    <label>Ödül Adı</label>
    <input type="text" class="form-control" name="AwardTitle" />
    <br />
    <label>Ödül Açıklmaa</label>
    <input type="text" class="form-control" name="AwardDescription"/>
   <br />
    <button class="btn btn-info" >Referans Ekle</button>
</form>

