@model MyEğitimAkademi_Portfolio.Models.Service
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hizmet Güncelleme Sayfası</h2>
<form method="post">

    <lable>Hizmet ID</lable>
    @Html.TextBoxFor(x=>x.ServiceID,new {@class="form-control" })
    <br />
    <label>Hizmet Adı</label>
    @Html.TextBoxFor(x=>x.ServiceName,new {@class="form-control" })
    <br />
    <button class="btn btn-success">Verileri Güncelle</button>


</form>

