
@{
    ViewBag.Title = "QuickContactAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hızlı İletişim Ekleme Sayfası</h2>
<form method="post">
    <label>Ad Soyad</label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Telefon</label>
    <input type="text" class="form-control" name="Phone" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <br />
    <label>Instagram</label>
    <input type="text" class="form-control" name="Intagram" />
    <br />
    <label>Linkedin</label>
    <input type="text" class="form-control" name="Lınkedın" />
    <br />
    <label>Facebook</label>
    <input type="text" class="form-control" name="Facebook" />
    <br />
    <label>Twitter</label>
    <input type="text" class="form-control" name="Twitter" />
    <br />
    <button class="btn btn-info">İletişim Ekle</button>
</form>

