
@{
    ViewBag.Title = "AddCustomerAndPartners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Müşteri Ve Ortak Eklem Sayfası</h2>


<form method="post">
    <label>Müşteri Ve ortaklar</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <lanel>Başlık</lanel>
    <input type="text" class="form-control" name="Description" />
    <br />
    <lanel>Resim</lanel>
    <input type="text" class="form-control" name="Image" />
    <button class="btn btn-info">Ekle</button>
</form>