
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yetenek Ekleme Sayfası</h2>
<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="SkillTitle" />
    <br />
    <lanel>Yetenek Değeri</lanel>
    <input  type="text" class="form-control" name="SkillValue"/>
    <br />
    <button  class="btn btn-info">Ekle</button>
</form>

