
@{
    ViewBag.Title = "Add";
}

<h2>Yeni Proje Eklem Sayfası</h2>
<form method="post">
    <label>Title</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>ProjectCategory</label>
    <input type="text" class="form-control" name="ProjectCategory" />
    <br />
    <label>CompleteDay</label>
    <input type="text" class="form-control" name="CompleteDay" />
    <br />
    <label>Price</label>
    <input type="text" class="form-control" name="Price" />
    <br />
    <button class="btn btn-info">Yeni Proje Ekle</button>
</form>


